::-webkit-media-controls-volume-slider,
::-webkit-media-controls-mute-button,
::-internal-media-controls-download-button,
::-webkit-media-controls-toggle-closed-captions-button,
::-internal-media-controls-overflow-button,
::-internal-media-controls-text-track-list,
::-internal-media-controls-overflow-menu-list {
    display: none !important;
    width: 0;
    height: 0;
    visibility: hidden;
}

::-webkit-media-controls-enclosure {
    overflow:hidden;
}

::-webkit-media-controls-panel {
    width: calc(100% + 35px); /* Adjust as needed */
}

#player-settings-dropdown > li > a:focus,
#player-settings-dropdown > li > a:hover {
    background: #6e587a;
}

#track-player::-webkit-media-controls-play-button {
    display: none;
}

#track-player::-webkit-media-controls-current-time-display {
    margin-left: 10px;
}

#track-player + .row > .col {
    padding: 0 4px 15px;
}

#audio-control {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 888px;
    margin: 0 -13px;
    padding: 0 13px;
    background: #ffffff;
    border-top: 1px solid #dddddd;
    z-index: 9000;
}

#audio-toolbar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
