::-webkit-media-controls-volume-slider,
::-webkit-media-controls-mute-button,
::-internal-media-controls-download-button,
::-webkit-media-controls-toggle-closed-captions-button,
::-internal-media-controls-overflow-button,
::-internal-media-controls-text-track-list,
::-internal-media-controls-overflow-menu-list {
    display: none !important
}

::-webkit-media-controls-enclosure {
    overflow:hidden;
}

::-webkit-media-controls-panel {
    width: calc(100% + 35px); /* Adjust as needed */
}